<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>     

    <import resource="applicationContext-processStorageDatasource.xml"/>

    <!--=====================================================================-->
	<!--
		Need one search processor and one metadata util per persistence unit
		(i.e. EntityManagerFactory). We're wiring these to the Generic DAOs
		using an autowire annotation in BaseDAO.
	-->
	<bean id="processStorageSearchProcessor" class="com.googlecode.genericdao.search.jpa.JPASearchProcessor">
		<constructor-arg ref="processStorageMetadataUtil" />
	</bean>

	<bean id="processStorageMetadataUtil" class="com.googlecode.genericdao.search.jpa.hibernate.HibernateMetadataUtil"
		factory-method="getInstanceForEntityManagerFactory">
		<constructor-arg ref="processStorageEntityManagerFactory" />
	</bean>

    <!--=====================================================================-->
    <!-- DAOs -->
    <!--=====================================================================-->
	<bean id="processStorageDAO" class="org.geoserver.wps.executor.storage.dao.impl.ProcessDescriptorDAOImpl">
		<property name="searchProcessor" ref="processStorageSearchProcessor" />
	</bean>
	    
    <!--=====================================================================-->
    <!-- WPS Cluster initializers -->
    <!--=====================================================================-->
    <!-- The clustered process runner -->
    <bean id="clusteredProcessManager" class="org.geoserver.wps.executor.ClusterProcessManager">
      <constructor-arg ref="wpsResourceManager"/>
      <constructor-arg>
        <list>
            <value>ClusterManager</value>
        </list>
      </constructor-arg>
    </bean>

    <!-- Configures some WPS subsystems with the current config values and keeps them up to date -->
    <bean id="clusteredWpsInitializer" class="org.geoserver.wps.WPSInitializer">
      <constructor-arg index="0" ref="executionManager"/>
      <constructor-arg index="1" ref="clusteredProcessManager"/>
      <constructor-arg index="2" ref="wpsStorageCleaner"/>
    </bean>
    
    <!--=====================================================================-->
    <!-- Process Storages -->
    <!--=====================================================================-->
	<bean id="defaultClusteredProcessStorage" class="org.geoserver.wps.executor.storage.DefaultProcessStorage">
		<constructor-arg index="0" ref="processStorageDAO" />
	</bean>

    <!--=====================================================================-->
    <!-- Cluster File-Publisher URL Manglers -->
    <!--=====================================================================-->
	<bean id="defaultClusterFilePublisherURLMangler" class="org.geoserver.wps.executor.util.DefaultClusterFilePublisherURLMangler">
		<constructor-arg index="0" ref="geoServer"/>
	</bean>

    <!--=====================================================================-->
    <!-- WPS Cluster Resource Cleaner -->
    <!--=====================================================================-->
    <!-- Temp storage cleanup -->
    <bean id="wpsClusterStorageCleaner" class="org.geoserver.wps.WPSClusterStorageCleaner">
      <constructor-arg index="0" ref="clusteredProcessManager" />
      <constructor-arg index="1" ref="dataDirectory" />
    </bean>
  
    <!-- Definition of how often the scheduled task runs -->
    <bean id="wpsClusterStorageCleanerTask"
      class="org.springframework.scheduling.timer.ScheduledTimerTask">
      <!-- wait 60 seconds before starting repeated execution -->
      <property name="delay" value="60000" />
      <!-- run every 30 minutes -->
      <property name="period" value="108000000" />
      <property name="timerTask" ref="wpsClusterStorageCleaner" />
    </bean>
  
    <!--
      And finally the class that instantiates the scheduled tasks and
      makes them run
    -->
    <!-- bean id="wpsClusterTimerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean"
      lazy-init="false">
      <property name="scheduledTimerTasks">
        <list>
          <ref bean="wpsClusterStorageCleanerTask" />
        </list>
      </property>
      <property name="daemon" value="true" />
    </bean -->

</beans>