<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="enterpriseClusterManagerProcess" class="org.geoserver.wps.gs.ClusterManagerProcess">
		<constructor-arg index="0" ref="geoServer"/>
	</bean>

	<!-- The PPIO that need to be registered into SPI because of their dependencies -->
	<bean id="executionStatusListPPIO" class="org.geoserver.wps.ppio.ExecutionStatusListPPIO">
	  <constructor-arg index="0" ref="geoServer"/>
      <constructor-arg index="1" ref="wpsResourceManager"/>
    </bean>
    
</beans>