<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		====================================================================
	-->
	<!-- Property config files -->
	<!-- Any customization should go in the property file -->
	<!--
		====================================================================
	-->

	<bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:downloadProcess.properties</value>
			</list>
		</property>				
        <property name="ignoreResourceNotFound" value="false"/>        
    </bean>
    
	<bean id="enterpriseDownloadProcess" class="org.geoserver.wps.gs.DownloadProcess">
		<constructor-arg index="0" ref="geoServer"/>
		<constructor-arg index="1" ref="wpsSendMail"/>
		<constructor-arg index="2" ref="enterpriseDownloadEstimatorProcess"/>
	</bean>

	<bean id="enterpriseDownloadEstimatorProcess" class="org.geoserver.wps.gs.DownloadEstimatorProcess">
		<constructor-arg index="0" ref="geoServer"/>
		<property name="maxFeatures" value="${enterpriseDownloadEstimatorProcess.maxFeatures}" />
		<property name="readLimits" value="${enterpriseDownloadEstimatorProcess.readLimits}" />
		<property name="writeLimits" value="${enterpriseDownloadEstimatorProcess.writeLimits}" />
		<property name="hardOutputLimit" value="${enterpriseDownloadEstimatorProcess.hardOutputLimit}" />
	</bean>

	<!-- The PPIO that need to be registered into SPI because of their dependencies -->
	<bean id="archiveZipPPIO" class="org.geoserver.wps.ppio.ZipArchivePPIO">
	  <constructor-arg index="0" ref="geoServer"/>
      <constructor-arg index="1" ref="wpsResourceManager"/>
    </bean>

	<!-- WPS SendMail bean -->
	<bean id="wpsSendMail" class="org.geoserver.wps.mail.SendMail">
    </bean>
	
</beans>